.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(231, 248, 80);
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  margin: 3rem;
  color: red;
  font-size: 3.3rem;
  margin-left: 45vw;
}
.odd {
  background-color: lightpink;
}
.even {
  background-color: lightgoldenrodyellow;
}
main button {
  border-radius: 10%;
  background-color: rgb(82, 50, 9);
  padding: 1rem;
  margin: 2rem;
  display: inline-block;
  color: darkorange;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
